beautifulsoup4==4.9.3
black==21.4b2
boto3==1.17.62
botocore==1.20.62
bs4==0.0.1
Django==3.2
django-countries==7.1
django-extensions==3.1.3
django-filter==2.4.0
django-phonenumber-field==5.1.0
django-storages==1.11.1
gunicorn==20.1.0
pandas==1.2.4
phonenumbers==8.12.21
Pillow==8.2.0
python-dateutil==2.8.1
requests==2.25.1
urllib3==1.26.4
whitenoise==5.2.0