{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>CFOJ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<div class="progress-container fixed-top">
    <span class="progress-bar"></span>
</div>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4 pt-5">
            <h1><a href="/" class="logo">CFOJ</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/ladders">Ladders</a>
                </li>
                <li>
                    <a href="/categories">Categories</a>
                </li>
            </ul>
            <script src="{% static 'js/main.js' %}"></script>
            <script>
                function scrollProgressBar() {
                    var getMax = function () {
                        return $(document).height() - $(window).height();
                    };

                    var getValue = function () {
                        return $(window).scrollTop();
                    };

                    var progressBar = $(".progress-bar"),
                        max = getMax(),
                        value,
                        width;

                    var getWidth = function () {
                        // Calculate width in percentage
                        value = getValue();
                        width = (value / max) * 100;
                        width = width + "%";
                        return width;
                    };

                    var setWidth = function () {
                        progressBar.css({width: getWidth()});
                    };
                    setWidth();

                    $(document).on("scroll", setWidth);
                    $(window).on("resize", function () {
                        // Need to reset max
                        max = getMax();
                        setWidth();
                    });
                }
            </script>
            <script>
                $('document').ready(function () {
                    $('.loader').css('visibility', 'hidden');
                    scrollProgressBar();
                    $(".clickable-row").click(function () {
                        window.open($(this).data("href"));
                    });

                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    function handle_response(response) {
                        console.log(response.head);
                        var handle = document.getElementById('handle');
                        document.getElementById("handle_head").innerText = response.head;
                        handle.value = '';
                        if (response.success === false) {
                            $('.loader').css('visibility', 'hidden');
                        } else {
                            window.location.href = window.location.href;
                        }
                    }

                    var tdata = document.getElementById('table-data');

                    function update_response(response) {
                        if (response.change === false) {
                            return false;
                        }
                        let tag_lst = response.tag_lst;
                        let thtml = "";
                        for (let i = 0; i < tag_lst.length; i++) {
                            let p = tag_lst[i];
                            if (p[2] == null) {
                                thtml += "<tr>" + "<th scope='row' class='clickable-row' data-href='" + p[1].url + "' style='cursor: pointer;'>" + p[0].toString() + "</th>" + "<td class='clickable-row' data-href='" + p[1].url + "' style='cursor: pointer;'>" + p[1].name + "</td>" + "<td class='clickable-row' data-href='" + p[1].url + "' style='cursor: pointer;'>" + p[1].id + "</td>" + "<td class='clickable-row' data-href='" + p[1].url + "' style='cursor: pointer;'>" + p[1].submissions.toString() + "</td>" + "<td class='clickable-row' data-href='" + p[1].url + "' style='cursor: pointer;'>No Submission</td>" + "</tr>";
                            } else {
                                thtml += "<tr style='background-color:lightgreen; color:black;'>" + "<th scope='row' class='clickable-row' data-href='" + p[1].url + "' style='cursor: pointer;'>" + p[0].toString() + "</th>" + "<td class='clickable-row' data-href='" + p[1].url + "' style='cursor: pointer;'>" + p[1].name + "</td>" + "<td class='clickable-row' data-href='" + p[1].url + "' style='cursor: pointer;'>" + p[1].id + "</td>" + "<td class='clickable-row' data-href='" + p[1].url + "' style='cursor: pointer;'>" + p[1].submissions.toString() + "</td>" + "<td class='clickable-row' data-href='" + p[2].url + "' style='cursor: pointer;background-color: yellow;'>View Submission</td>" + "</tr>";
                            }
                        }
                        tdata.innerHTML = thtml;
                    }

                    var btn = document.getElementById('handle_button');
                    btn.onclick = function () {
                        var sidebar = document.getElementById('sidebar');
                        var form = document.getElementById('handle_form');
                        var handle = document.getElementById('handle');
                        if (handle.value === "") {
                            return false
                        }
                        $('.loader').css('visibility', 'visible');
                        $.ajax({
                            data: {
                                handle: handle.value,
                                csrfmiddlewaretoken: getCookie("csrftoken")
                            },
                            type: 'post',
                            url: "/handle_data/",
                            success: function (response) {
                                handle_response(response);
                            },
                            error: function (response) {
                                console.log("Error");
                                $('.loader-wrapper').fadeOut('fast');
                            }
                        });
                    }
                    var intervalId = window.setInterval(function () {
                        /// call your function here
                        if ("{{ handle_name }}" === "") {
                            return false;
                        }
                        $.ajax({
                            data: {
                                handle: "{{ handle_name }}",
                                "tag": "{{ head }}",
                                csrfmiddlewaretoken: getCookie("csrftoken")
                            },
                            type: 'post',
                            url: "/update_handle/",
                            success: function (response) {
                                update_response(response);
                            },
                            error: function (response) {
                                console.log("Error");
                            }
                        });
                    }, 60000);
                })
            </script>
            <script>
                $(window).on("load", function () {
                    $(".loader-wrapper").fadeOut("fast");
                });
            </script>
            <div class="mb-5">
                <h3 class="h6" id="handle_head">{{ handle }}</h3>
                <form method="post" class="colorlib-subscribe-form" id="handle_form">
                    {% csrf_token %}
                    <div class="form-group d-flex">
                        <div class="icon"><span class="icon-paper-plane"></span></div>
                        <input type="text" class="form-control" placeholder="Enter CodeForces Handle" name="handle"
                               id="handle"
                               required>
                    </div>
                    <button type="button" class="form-control" id="handle_button">Login</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-4 pt-5 col-md-9" style="left:250px;position:absolute;">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center mb-5">
                        <h2 class="heading-section">{{ head }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-wrap">
                            <table class="table table-bordered table-dark table-hover">
                                <thead>
                                <tr>
                                    {% for hd in table_head %}
                                        <th>{{ hd }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody id="table-data">
                                {% if request.user.username is not None and request.user.username != "" %}
                                    {% for i, problem, sub in tag_lst %}
                                        {% if sub != None %}
                                            <tr style="background-color:lightgreen; color:black;">
                                                <th scope="row" class="clickable-row" data-href="{{ problem.url }}"
                                                    style="cursor: pointer;">{{ i }}</th>
                                                <td class="clickable-row" data-href="{{ problem.url }}"
                                                    style="cursor: pointer;">{{ problem.name }}</td>
                                                <td class="clickable-row" data-href="{{ problem.url }}"
                                                    style="cursor: pointer;">{{ problem.id }}</td>
                                                <td class="clickable-row" data-href="{{ problem.url }}"
                                                    style="cursor: pointer;">{{ problem.submissions }}</td>
                                                <td class="clickable-row" data-href="{{ sub.url }}"
                                                    style="cursor: pointer;background-color: yellow;">View Submission
                                                </td>
                                                {% else %}
                                            <tr>
                                            <th scope="row" class="clickable-row" data-href="{{ problem.url }}"
                                                style="cursor: pointer;">{{ i }}</th>
                                            <td class="clickable-row" data-href="{{ problem.url }}"
                                                style="cursor: pointer;">{{ problem.name }}</td>
                                            <td class="clickable-row" data-href="{{ problem.url }}"
                                                style="cursor: pointer;">{{ problem.id }}</td>
                                            <td class="clickable-row" data-href="{{ problem.url }}"
                                                style="cursor: pointer;">{{ problem.submissions }}</td>
                                            <td class="clickable-row" data-href="{{ problem.url }}"
                                                style="cursor: pointer;">No Submission
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    {% for i, problem in tag_lst %}
                                        <tr>
                                            <th scope="row">{{ i }}</th>
                                            <td><a href="{{ problem.url }}" target="_blank">{{ problem.name }}</a></td>
                                            <td>{{ problem.id }}</td>
                                            <td>{{ problem.submissions }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="loader" style="visibility:hidden;">
        <section id="global">
            <div class="load-box" style="left:160px;position: relative;">
                <div id="top" class="mask">
                    <div class="plane"></div>
                </div>
                <div id="middle" class="mask">
                    <div class="plane"></div>
                </div>
                <div id="bottom" class="mask">
                    <div class="plane"></div>
                </div>
            </div>
            <p><i>EXTRACTING YOUR DATA.... PLEASE WAIT...</i></p>
        </section>
    </div>
    <div class="loader-wrapper">
        <span class="loader2"><span class="loader-inner"></span></span>
    </div>
</div>

<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
</body>
</html>